@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing:border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right top, #696EC9, #7ABAED);
    margin:0;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 1rem;
}

.movie img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292847;
}

.movie-info h3 {
    color: #EBE5E2;
    padding:0 10px;
    letter-spacing: 21x;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movie-info span {
    background-color: #212139;
    color: #EBE5E2;
    padding: 8px;
}

.movie-info span.green {
    color: #A6EA56;
}

.movie-info span.orange {
    color: #C06E1A;
}

.movie-info span.red {
    color: #E93A09;
}